<h1>Dashboard</h1>
<table>
<tr>
  <td>
    <h3>Products Count:</h2>
  </td>
  <td>
    <h3><%=@num_of_products%></h2>
  </td>
  </tr>
  <tr>
  <td>
    <h2>Categories Count: </h2>
</td>
  <td>
    <h2><%=@num_of_categories%></h2>
</td>
   
  </tr>